<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="ManagementCreazioni" asp-action="CreazioneCamera">Creazione Camera</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="ManagementVisualizzazioni" asp-action="VisualizzaCamere">Visualizza Camere</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="ManagementCreazioni" asp-action="CreazionePersona">Creazione Persona</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="ManagementVisualizzazioni" asp-action="VisualizzaPersone">Visualizza Persone</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="ManagementCreazioni" asp-action="CreazionePrenotazione">Creazione Prenotazione</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="ManagementVisualizzazioni" asp-action="VisualizzaPrenotazioni">Visualizza Prenotazioni</a>
  
</div>