/* color palette
	.first-color { 
	background: #23425f; 
}
	
.second-color { 
	background: #a64942; 
}

.third-color { 
	background: #ff7844; 
}

.fourth-color { 
	background: #ffab5e; 
}
}*/


html {
	font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
	margin-bottom: 60px;
	background-color: #ffab5e;
	
	
}

a, a:hover {
    text-decoration: none !important;
    color: inherit !important;
}
.footer {
	line-height: 40px !important;
}
.footer {
	border-top: 2px solid #23425f;
	padding-top:15px
}
.col-2 > ul > li > a, .anno{
	    color: #23425f !important;


}
.col-2 > ul > li > a:hover {
		color: #a64942 !important;
	}
.col-2 > h5 {
	color: #23425f !important;
}
.container-footer > .row {
	border-bottom: 1px solid #23425f;
	margin-bottom:20px
}
footer{
	height: 10%;
}